/* Styling for whole of page */
html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.center{
    text-align: center;
}

hr {
    background-color: white;
}



/* Styling for navbar */
.navbar{
    background-color: #162447;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: yellow;
}

.navbar-toggle {
    background-color: #fff;
}

.fa-bars {
    color: white;
}

.footer-text{
    font-size: 1.5rem;
}



/* Styling for home section */
.home{
    width: 100%;
    height: 100vh;
    background-color: #162447;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    color: white;
}

.home-text{
    padding: 5%;
    padding: 15%;
}

.white-anchor{
    color: white;
    margin: 0 2%;
}

.white-anchor:hover{
    color: yellow;
}


/* Styling for about section */
.about{
    padding: 5% 20%;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    color :#162447 ;

}



/* Styling for skills section */
.skills {
    padding: 1% 20%;
    background-color: #162447;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    color: white;
    float: center;
}

.skill{
        width: 10%;
        font-size: 1.5rem;
        padding: 1%;
        margin: 2% ;
        text-align: center;
    }
}

.skill:hover {
    color: yellow;
}

span{
    display: inline-block;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 50px;
}


/* Styling for projects section */
.projects {
    padding: 3% 0 3% 0;
    color: #162447;
}

.card{
    width: 80%;
    text-align: left;
    margin: 0 auto 2%;
}

.img{
    width: 40%;
    height: 30%;
    float: right;
}

.project-skill{
    width: 10%;
    font-size: 0.75rem;
    padding: 1%;
    border: 1px solid #162447;
    margin: 2% ;
    text-align: center;
}

.box-shadow {
    box-shadow: 10px 10px 10px;
}



/* Styling for contact section */
.contact{
    background-color: #162447;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    color: white;
    padding: 3% 0 7% 0;

}
.form-control{
    width: 30%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


/* Styling for buttons */
button{
    margin-top: 1%;
}

.btn-blue{
    margin-top: 5%;
    background-color: #162447;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    color: white;
}

.btn-blue:hover{
    background-color: #162447;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    color: yellow;
}

.btn-contact{
    color :#162447;
    background-color: white;
}

.btn-contact:hover{
    color :#162447;
    background-color: yellow;
}

form input, form textarea {
    text-align: center;
}


@media only screen and (max-width: 700px) {
    .contact {
        padding-bottom: 20%;
    }

    .form-control{
        width: 90%;
    }

    img {
        display: none;
    }

    span{
        display: block;
        text-align: center;
        margin: auto;
    }
    body{
        text-align: center;
    }
    .project-skill{
        width: 80px;
        margin: 1% 2% 5%;
    }

    *, html, body{
        font-size: 1rem;
    }

    .skills-container{
        text-align: center;
    }
  }

